<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/markdown.css">
  <title>Markdown Preview</title>
  <style>
    .markdown-body {
      box-sizing: border-box;
      min-width: 200px;
      max-width: 980px;
      margin: 0 auto;
      padding: 45px;
    }
 
    @media (max-width: 767px) {
      .markdown-body {
          padding: 15px;
      }
    }
  </style>
</head>
<body>
  <article class="markdown-body" id="markdown"></article>
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    var socket = io('http://localhost:3000');
    socket.on('markdown', function (data) {
      document.getElementById('markdown').innerHTML = data;
    });
  </script>
</body>
</html>