{
  "presets": ["es2015","stage-3"],
  "plugins": [
      ["transform-es2015-modules-commonjs", {
          "allowTopLevelThis": true
      }],
      ["transform-async-to-generator"],
      ["transform-runtime"]
  ]
}
